.page-nav {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    z-index: 50;
}

.page-nav button {
    all: unset;
    font-size: 1.6rem;
    cursor: pointer;
}